@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.App {
  width: 100%;
  padding: 20px;

}

body{
  font-family: "Nunito";
}

.display{
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}

.menu{
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  width: 70%;
}

.menu-bar{
  margin: 20px;
  display: flex;
  flex-direction: row;

}


.dropdown {
  padding: 6px 14px;
  margin: 10px;
  border: 1.5px solid lightgray;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 14px;
}

.dropdown:hover {
  background-color:#B8DEB9;
}

.cart{
  display:flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 40px;
  padding-left: 40px;
  width: auto;
  margin-top: 0px;
  border-style: none none none solid;
  border-left: solid 3px lightgray;


}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  margin-top: 10px;
}

.genre-bubble {
  padding: 5px 10px;
  background-color: #B8DEB9; 
  border-radius: 10px; 
  font-size: 14px;
  white-space: nowrap;
  /* font-family: Arial, Helvetica, sans-serif; */
}


.card {
  /* background-color: blanchedalmond; */
  position: relative;
  border-radius: 30px;
  padding: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.like-button{
  position: absolute;
  top: 10px; 
  right: 12px; 
  width: 30px;
  height: 30px;
  border: 2px solid palevioletred;
  border-radius: 10px;
  background-color:pink;
  padding: 0px;
  box-shadow: 2px 2px darkmagenta;

}

.like-button:hover{
  cursor: pointer;
  background-color: palevioletred;
}

.button-div{
  justify-self: flex-end;
  align-self: flex-end;

}

.remove-button{
  padding: 6px 14px;
  border: 1.5px solid lightgray;
  border-radius: 4px;
  background-color: white;
  font-family: "Nunito";
  font-size: 14px;
}

.remove-button:hover{
  cursor: pointer;
  background-color: #B8DEB9;
}

li{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 14px;
}

h3{
  margin: 5px;
  /* font-family:'Helvetica'; */
  text-align: center;
  font-size: 17px;
}

p{
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: left;
  font-size: 15px;
  margin: 2px;
}

.title{
  margin-left: 20px;
  text-align: center;
}

.Movie {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-left: 20px;
  
}

.desc{
  margin: 2px;
  font-weight: normal;
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 1.5;
  font-size: 15px;

}

.image{
  padding: 2px;
  width: 100%;
  height: auto;
  
}

h1{
  /* font-family:Arial, Helvetica, sans-serif; */
  font-size: 25px;
  color: palevioletred;
  text-align: left;
}

.title-div{
  display: flex;
  align-content: flex-start;
  margin-left: 20px;
}

h2{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color:#6BA36D;
}